<div class="controlButtons">
  <div class="playButton" id="playButton">></div>
  <div class="resetButton" id="resetButton"><i class="fa fa-refresh"></i></div>
  <div class="changeRadar" id="radar" ng-click="CambiarVis('radar')"><i class="fa fa-pie-chart"></i></div>
  <div class="changeBubbles" id="bubbles" ng-click="CambiarVis('bubbles')"><i class="fa fa-spinner"></i></div>
  <div class="changeTable" id="table" ng-click="CambiarVis('table')"><i class="fa fa-table"></i></div>
</div>
<div class="plusInfo" ng-class="{ 'animated fadeInRight': infoActive, 'animated flipOutY': !infoActive }">
  <div class="infoTittle">Tendences</div>
  <div class="closeInfo" ng-click="infoActive=false"><i class="fa fa-times-circle"></i></div>
  <div class="infoInside">
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">OpenStack: <spam class="infoElementSub">Cada vez más desarrolladores lo elijen como tecnología para sus proyectos.</spam></div>
    <div class="infoElement">Python: <spam class="infoElementSub">Pierde fuerza en los congresos.</spam></div>
    <div class="infoElement">ThreeJS: <spam class="infoElementSub">Entra pisando fuerte.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
    <div class="infoElement">NodeJS: <spam class="infoElementSub">la comunidad aumenta.</spam></div>
  </div>
</div>
<div  class="filtersPanel"  ng-class="{ 'animated slideInLeft': filterStatus, 'animated slideOutLeft': !filterStatus }">
  <div class="filterButton">
    Committers
    <div ng-click="changeStatusFilter('committers', false)" class="filterDes" ng-class="{ 'filterDesChk': !filterActivation.committers, 'filterDes': filterActivation.committers }"><i class="fa fa-times"></i></div>
    <div ng-click="changeStatusFilter('committers', true)" class="filterAtv" ng-class="{ 'filterAtvChk': filterActivation.committers, 'filterAtv': !filterActivation.committers }"><i class="fa fa-check"></i></div>
  </div>
  <div class="filterButton">
    Stars
    <div ng-click="changeStatusFilter('stars', false)" class="filterDes" ng-class="{ 'filterDesChk': !filterActivation.stars, 'filterDes': filterActivation.stars }"><i class="fa fa-times"></i></div>
    <div ng-click="changeStatusFilter('stars', true)" class="filterAtv" ng-class="{ 'filterAtvChk': filterActivation.stars, 'filterAtv': !filterActivation.stars }"><i class="fa fa-check"></i></div>
  </div>
  <div class="filterButton">
    Tech blog mentions
    <div ng-click="changeStatusFilter('tech-blog-mentions', false)" class="filterDes" ng-class="{ 'filterDesChk': !filterActivation['tech-blog-mentions'], 'filterDes': filterActivation['tech-blog-mentions'] }"><i class="fa fa-times"></i></div>
    <div ng-click="changeStatusFilter('tech-blog-mentions', true)" class="filterAtv" ng-class="{ 'filterAtvChk': filterActivation['tech-blog-mentions'], 'filterAtv': !filterActivation['tech-blog-mentions'] }"><i class="fa fa-check"></i></div>
  </div>
  <div class="filterButton">
    analyst blog mentions
    <div ng-click="changeStatusFilter('analyst-blog-mentions', false)" class="filterDes" ng-class="{ 'filterDesChk': !filterActivation['analyst-blog-mentions'], 'filterDes': filterActivation['analyst-blog-mentions'] }"><i class="fa fa-times"></i></div>
    <div ng-click="changeStatusFilter('analyst-blog-mentions', true)" class="filterAtv" ng-class="{ 'filterAtvChk': filterActivation['analyst-blog-mentions'], 'filterAtv': !filterActivation['analyst-blog-mentions'] }"><i class="fa fa-check"></i></div>
  </div>
  <div class="filterButton">
    Summit presentations
    <div ng-click="changeStatusFilter('summit-presentations', false)" class="filterDes" ng-class="{ 'filterDesChk': !filterActivation['summit-presentations'], 'filterDes': filterActivation['summit-presentations'] }"><i class="fa fa-times"></i></div>
    <div ng-click="changeStatusFilter('summit-presentations', true)" class="filterAtv" ng-class="{ 'filterAtvChk': filterActivation['summit-presentations'], 'filterAtv': !filterActivation['summit-presentations'] }"><i class="fa fa-check"></i></div>
  </div>
  <div class="filterButton">
    Summit mentions
    <div ng-click="changeStatusFilter('summit-mentions', false)" class="filterDes" ng-class="{ 'filterDesChk': !filterActivation['summit-mentions'], 'filterDes': filterActivation['summit-mentions'] }"><i class="fa fa-check"></i></div>
    <div ng-click="changeStatusFilter('summit-mentions', true)" class="filterAtv" ng-class="{ 'filterAtvChk': filterActivation['summit-mentions'], 'filterAtv': !filterActivation['summit-mentions'] }"><i class="fa fa-times"></i></div>
  </div>
</div>
<div  class="animated fadeInRight" ng-show="visualization=='radar'" radar-interactive height=600 width=600 levels="['Hold', 'Assess', 'Trial', 'Adopt']" id="chart"></div>
<div  class="marginTop animated fadeInRight"  ng-show="visualization=='bubbles'" id="chartBubble" divide-chart></div>
<div  ng-show="visualization=='table'" id="datasTable" class="tableVis  animated fadeInRight">
  <div class="tableHead" class="tableHead">
      <div id="headElement" ng-click="changeOrderTable('-name')" class="headElement">Name <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-family')" class="headElement">Family <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-subfamily')" class="headElement">SubFamily <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-committers')" class="headElement">Committers <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-stars')" class="headElement">Stars <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-tech-blog-mentions')" class="headElement">Tech blog mentions <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-analyst-blog-mentions')" class="headElement">analyst blog mentions <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-summit-presentations')" class="headElement">Summit presentations <i class="fa fa-sort-desc"></i></div>
      <div id="headElement" ng-click="changeOrderTable('-summit-mentions')" class="headElement">Summit mentions <i class="fa fa-sort-desc"></i></div>
  </div>
  <div id="tableTupla" class="tableTupla" ng-repeat="datas in radarData | orderBy: changeTableOrder">
    <div id="tuplaElement" class="tuplaElement">{{ datas.name }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.family }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.subfamily }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.committers }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.stars }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.tech-blog-mentions }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.analyst-blog-mentions }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.summit-presentations }}</div>
    <div id="tuplaElement" class="tuplaElement">{{ datas.summit-mentions }}</div>
  </div>
</div>
